@import './base.css';
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  color: #fff;
  font-family: 'Montserrat', arial, sans-serif;
}
