@import './base.css';
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  color: #fff;
  font-family: 'Montserrat', arial, sans-serif;
}
button{
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;

}
